<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>OAuth2 Demo By SimonX</title>
    </head>

    <body>
        Welcome, <span th:text="${user.name}">Zhang San Feng</span> !
        <img th:src="${user.avatar_url}" src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1599652066644&di=c5e82aee1596290fa617696922e05173&imgtype=0&src=http%3A%2F%2Fp4.ssl.cdn.btime.com%2Ft01b072a7f4060d9c96.jpg%3Fsize%3D500x505">
    </body>

</html>